@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../css/variables.css');
@import url('../css/navbar.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    transition: box-shadow 0.3s ease; /* Transição suave */
}

header.scrolled {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra quando rolar */
}

#container {
    background-image: url(../images/background-mobile.png);
    background-size: contain;
    transition: transform 0.8s ease, filter 0.8s ease, background-color 0.8s ease;
}

/* Efeito de surgimento das seções */
section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Quando a seção se tornar visível, ela aparecerá */
section.visible {
    opacity: 1;
    transform: translateY(0);
}


.title {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--color-neutral-8);
    font-weight: 700;
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 60px;
        height: 4px;
        background-color: var(--color-primary-1);
        position: absolute;
        bottom: 0;
        border-radius: 30px;
    }
}

/* Estilo para o item de menu ativo */
.navbar a.active {
    background-color: transparent;
    color: var(--color-primary-1);
    border-bottom: 1px solid var(--color-primary-1);

}

a.btn {
    text-decoration: none;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.btn-mobile {
    font-size: 1.5rem;
}

.btn-default {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-0);

    &:hover {
        background-color: var(--color-primary-2);
    }
}

.btn-outlined {
    background-color: transparent;
    color: var(--color-primary-1);
    border: 2px solid var(--color-primary-1);

    &:hover {
        background-color: var(--color-primary-1);
        color: var(--color-neutral-0);
    }
}

#home {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    min-height: calc(100vh - 96px);
    padding: 32px 4%;
    padding-top: clamp(0px, 5vw, 32px);
    margin-bottom: 25px;

    .home-image {
        width: clamp(300px, 50%, 400px);
    }

    .home-title {
        color: var(--color-neutral-8);
        text-align: center;
        font-size: clamp(3rem, 5vw, 4.3rem);
        text-transform: uppercase;
        line-height: 1.2;
        max-width: 700px;

        span {
            color: var(--color-primary-1);
        }
    }

    .home-description {
        color: var(--color-neutral-9);
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        max-width: 600px;
    }

    .home-actions {
        display: flex;
        gap: 12px;
        margin-top: 12px;
    }
}

#trending {
    padding: 32px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    min-height: calc(75vh - 96px);
    

    .trending-cards {
        .trending-card {
            position: relative;
            margin-top: 20px;
            transition: transform 0.8s ease, filter 0.8s ease, background-color 0.8s ease;

            img {
                width: clamp(300px, 5vw, 600px);
                
            }

            .trending-rate {
                background-color: var(--color-neutral-0);
                position: absolute;
                bottom: 80px;
                right: 30px;
                padding: 5px 10px;
                border-radius: 5px;

                i {
                    color: var(--color-secundary-1);
                }
            }

            .trending-card-description {
                display: flex;
                flex-direction: column;
                text-align: center;
                font-size: 1.3rem;
                font-weight: 600;
                color: var(--color-neutral-8);

                span {
                    font-size: 1rem;
                    font-weight: 500;
                    color: var(--color-neutral-7);

                }
            }
        }
    }
}

/* Efeito de Hover*/
.trending-card img,
.product-card img {
    transition: transform 0.8s ease, filter 0.8s ease, background-color 0.8s ease;
    transform-origin: center;
}

.trending-card:hover img,
.product-card:hover img {
    transform: scale(1.1);
    background-color: transparent;
    transition: transform 0.8s ease, filter 0.8s ease, background-color 0.8s ease;
}

/* Adiciona animação hover para o fundo das imagens das bebidas*/
.trending-card:hover,
.product-card:hover {
    box-shadow: transparent;
    transform: scale(1.1);
    transition: transform 0.8s ease, filter 0.8s ease, background-color 0.8s ease;
}

#about {
    scroll-margin-top: 95px;
    padding: 32px 4%;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary-1);
    background-image: url("../images/about/bg-about.png");
    min-height: calc(100vh - 96px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 32px;
    overflow: hidden; /* Evita que o conteúdo transborde */

    .title {
        color: var(--color-neutral-0);

        &::before {
            background-color: var(--color-secundary-1);
        }
    }

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;


        .about-image {
            width: clamp(300px, 50vw, 500px);
        }

        .about-info {
            padding: 24px;
            border-radius: 20px;
            background-color: var(--color-primary-2);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

            h3 {
                color: var(--color-neutral-0);
                font-size: 1.8rem;
                margin-bottom: 4px;

                span {
                    color: var(--color-secundary-1);
                }
            }

            p {
                color: var(--color-neutral-0);
                font-size: 1rem;

                span {
                    color: var(--color-secundary-1);
                    font-weight: 600;
                }

            }
        }
    }
}


#products {
    padding: 32px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    min-height: calc(20vh - 96px);

    .products-cards {
        display: flex;
        flex-direction: column;
        gap: 90px;

        .product-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--color-primary-1);
            background-image: url(../images/products/background.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 16px;
            border-radius: 50px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.8s ease, filter 0.8s ease, background-color 0.8s ease;

            img {
                width: 300px;
                position: relative;
                top: -70px;
                filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
            }

            .product-content {
                margin-top: -70px;

                h3 {
                    text-align: center;
                    color: var(--color-neutral-0);
                    font-size: 1.8rem;
                    display: flex;
                    flex-direction: column;

                    span {
                        color: var(--color-secundary-1);
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }


}

footer {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-0);
    text-align: center;
    padding: 12px;

    p {
        font-size: 1rem;
    }

}



@media (min-width: 768px) {
    #container {
        background-image: url(../images/background-desktop.png);
        background-size: cover;
        background-position: start;
        background-repeat: no-repeat;
    }

    #trending {
        .trending-cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 24px;
        }
    }

    #products {
        min-height: 100vh;
        gap: 8rem;

        .products-cards {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 24px;

            .product-card {
                img {
                    width: 250px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    #about {
        margin: 4%;
        justify-content: center;

        .about-content {
            flex-direction: row;
            align-items: center;
            gap: 48px;
        }

        .about-image {
            order: 1;
        }

        .about-info:first-child {
            order: 2;
        }

        .about-info:last-child {
            order: 3;
        }

    }
}